/*create your custom styling here*/

#header {background-color:green;
		font-size:16px;
		height:100px;
		margin:0 0 10px 0;
		}

.sidebar {background-color:blue;	
		  height:500px;
		  width:200px;
		}

#left {float:left;
	   margin:0px 10px 10px 0;}	

#right {float:right;}


.small-box {background-color:yellow;
			height:100px;
			width:100px;	
			position: relative;
			margin:30px 10px 10px 50px;
		}		
#main-story {background-color:orange;
			 position:relative;
			float:left;
			 height:500px; 
			 width:842px;
			 margin:0 10px 0 0;
			}
#footer {background-color:red;
		 position: relative;
		 float:left;
		 height:100px;
		 width:1264px;}

.long-box {background-color:yellow;
			position:relative;
			height:300px;
			width:100px;
			margin:50px 10px 10px 50px; 
		}